= simple_form_for :environment, url: update_code_path, method: :post do |f|
  = simple_fields_for :test do |sf|
    %div.row
      %label
        = 'Additional settings:'
      = sf.select :tag, Tag.all.map(&:name)

  = f.submit 'Update Code'

= simple_form_for :update_test, url: update_test_path do |f|
  = f.hint 'Tests List:'
  = f.submit 'Update'

= simple_form_for :update_tag, url: update_tag_path do |f|
  = f.hint 'Tags List:'
  = f.submit 'Update'